---
const { players, title } = Astro.props
---

<div>
	<h2 class='font-bold text-white text-5xl text-center py-10'>{title}</h2>
	<div class='grid grid-cols-4 gap-2 items-center'>
		{
			players.map((player) => (
				<article class='text-center font-title text-slate-900 rounded-sm p-5 m-auto'>
					<img
						class='w-36 h-auto aspect-[170/239] m-auto'
						src={`https://kings-league-api.carlos8alb.workers.dev/static/teams/players/${player.image}`}
						alt={`${player.fullName}`}
					/>
					<h3 class='font-title text-white text-3xl py-2'>{player.fullName}</h3>
					<h4 class=' font-title text-white uppercase rounded-full bg-black p-1 font-semibold'>
						{player.role}
					</h4>
				</article>
			))
		}
	</div>
</div>
